<div class="container" *ngIf="players?.length > 0;else noItems">
  <mat-card
    *ngFor="let player of players; let i = index" 
    class="collection"
    [ngClass]="{
      'first-place': i === 0,
      'second-place': i === 1,
      'third-place': i === 2
    }"
  >
    <div class="collection-item">
      <h3 class="player-name">{{player.name}}</h3>
      <p class="player-stats">{{player.score}} beverages!</p>
    </div>
      <div class="player-actions">
          <button mat-mini-fab>+</button>
          <button mat-mini-fab>-</button>
          <button mat-mini-fab color="warn">X</button>
      </div>
  </mat-card>
</div>

<ng-template #noItems>
  <hr>
  <h2>THERE ARE NO PLAYERS</h2>
</ng-template>